.header {
  width: 100%;
  height: 100vh;
  display: flex;
}
.left_content {
  width: 35%;
  height: 100%;
  background: #161616;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.right_content {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top {
  width: 100%;
  height: 10%;
  background-color: #2F2F2F;
}
.bott {
  width: 100%;
  height: 90%;
  background-image: url("../public/Assets/Group 3.png");
  background-position: center;
  background-size: cover;
}
.navbar {
  width: 100%;
  height: 75px;
  z-index: 99;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navlinks {
  position: relative;
  width: 85%;
  padding-right: 7em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 500;
  z-index: 999;
  color: white;
}
.navlinks .nav_links {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 2em;
  z-index: 999;
}
.nav_a {
  opacity: 0.7;
}
.nav_a:hover {
  opacity: 1;
}
.title_nav {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  font-size: 25px;
  font-weight: 700;
  opacity: 0.7;
}
.ornamen {
  position: absolute;
  z-index: 10;
  top: 9em;
  left: 2em;
  width: 300px;
  height: 200px;
  /* opacity: 0.6; */
  background-image: url("../public/Assets/Frame1.svg");
  background-size: cover;
}
.title_box {
  width: 700px;
  height: 350px;
  position: absolute;
  transform: translateX(20em);
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
}
.title {
  line-height: .9em;
  font-size: 60px;
  font-weight:400;
  opacity: 0.8;
  color:white ;
}
.title_span {
  font-weight: 600;
}
.job {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 400px;
  height: 60px;
  background-color: #ffc300;
}
.header_link {
  width: fit-content;
  padding-top: 0.5em;
  display: flex;
  gap: .1em;
  color: white;
}
.header_a {
  opacity: 0.7;
}
.header_link:hover .header_a {
  opacity: 1;
}
.header_link a {
  height: fit-content;
  font-size: 22px;
  border-bottom: 3px solid;
  font-weight: 600;
}
.header_link .arrow_box {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
}
.arrow_box .arrow {
  width: 20px;
  height: 20px;
  background-image: url("../public/Assets/arrow (2).png");
  background-position: center;
  background-size: cover;
  animation: fade_arrow_2 2.5s infinite;
}
.arrow_box .arrow:first-child {
  animation: fade_arrow 2.5s infinite;
}
@keyframes fade_arrow {
  0% {
    opacity: 1;
    transform: translateY(8px);
  }
  50% {
    opacity: 0;
    transform: translateY(1em);
  }
  100% {
    opacity: 1;
    transform: translateY(8px);
  }
}
@keyframes fade_arrow_2 {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(0.5em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width:1290px) {
  .left_content {
    width: 45%;
    justify-content: center;
    transition:  1s ease;
  }
  .right_content {
    width: 55%;
    transition:  1s ease;
  }
  .title {
    font-size: 35px;
    transition: 1s ease;
  }
  .title_box {
    width: auto;
    position: relative;
    transform: none;
  }
  .navlinks {
    transition: 1s ease;
    padding-right: 0;
  }
}
@media (max-width:1100px) {
  .left_content {
    width: 100%;
    justify-content: center;
    transition:  1s ease;
    justify-content: center;
    align-items: center;
  }
  .right_content {
    display: none;
  }
  .title {
    font-size: 35px;
    transition: 1s ease;
  }
  .title_box {
    gap: 1em;
    width: auto;
    height: auto;
    position: relative;
    transform: none;
    background-color: #161616;
    z-index: 1;
  }
  .ornamen {
    z-index: 0;
  }
  .navlinks {
    transition: 1s ease;
    padding-right: 0;
  }
}
@media (max-width:760px) {
  .title_nav {
    display: none;
  }
  .navlinks {
    justify-content: center;
    transition: 1s ease;
  }
}
@media (max-width:540px) {
  .title {
    font-size: 25px;
  }
  .job {
    width: auto;
    height: auto;
    padding: .5em 1em;
    font-size: 18px !important;
  }
  .navlinks {
    font-size: 14px;
  }
}
@media (max-width:380px) {
  .navlinks {
    font-size: 12px;
  }
}
@media (max-width:330px) {
  .ornamen {
    display: none;
  }
}
